/* shared styles  */


body {
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
    }

    .merriweather-regular {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
    }

    .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
    }

    .merriweather-black {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal;
    }

    .merriweather-light-italic {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: italic;
    }

    .merriweather-regular-italic {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: italic;
    }

    .merriweather-bold-italic {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: italic;
    }

    .merriweather-black-italic {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: italic;
    }

}

main,
header {
    max-width: 1700px;
    margin-top: 50px;
    margin: 0 auto;

}



/* shared style */

/* header styles */

.banner-container {
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    height: 550px;
    margin-top: 50px;


}

.banner-title {

    padding-top: 150px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;


}

.banner-description {
    padding-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

}

.banner-input {


    display: flex;
    /* justify-content: center; */
    gap: 10px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 38%;
    padding: 10px 10px;



}

div>input,
select,
button {


    padding: 15px;

    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 0;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(255, 84, 0);
}

/* 
main styles */
/* popular tours styles */

.popular {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex: 1;

}

.popular-content {
    width: 67%;
    /* border: 1px solid tan; */
    padding: 10px;
}

.popular-title {
    color: rgb(19, 19, 24);

    font-size: 2.5rem;
    font-weight: 800;

}

.text-style {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1.2rem;
    font-weight: 400;

}

.popular-img {
    width: 33%;
    /* border: 1px solid tomato; */
}

/* destination styles */
.destination-image1 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

}

.destination-image2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1.5fr .75fr;

    gap: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.destination-image3 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1.4fr;

    gap: 30px;
}

.destination-image1 img {
    width: 100%;
    gap: 20px;
}

.destination-image2 img {
    width: 100%;
    gap: 20px;
}

.destination-image3 img {
    width: 100%;
    gap: 20px;
}

/* .l3 {
    position: relative;
    bottom: 850px;
    left: 200px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

.l4 {
    position: relative;
    bottom: 920px;
    left: 800px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

.l5 {
    position: relative;
    bottom: 970px;
    left: 1450px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

.l7 {
    position: relative;
    bottom: 600px;
    left: 1150px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

.l6 {
    position: relative;
    bottom: 550px;
    left: 300px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

.l1 {
    position: relative;
    bottom: 1200px;
    left: 300px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

.l2 {
    position: relative;
    bottom: 1250px;
    left: 1200px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

} */

.destination-title {
    color: rgb(19, 19, 24);
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 80px;
}

.destination-description {
    text-align: center;
    margin-bottom: 80px;
}

/* footer section styles */
footer {
    width: 89.7%;

    background: rgba(19, 19, 24, 0.05);
    padding: 100px 100px;
}

.title {
    display: flex;
    justify-content: center;
}

.footer-title {
    color: rgb(19, 19, 24);
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 800;

}

.footer-description {
    text-align: center;
}

.footer-img {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

hr {
    width: 60%;
    border: 1px solid gray;
    margin-bottom: 20px;
}


/* why choose us section styles */
.choose-content {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
}

.choose-title {
    color: rgb(19, 19, 24);
    font-size: 2.3rem;
    font-weight: 800;
}

.choose-description {
    margin-bottom: 50px;
}

.choose-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box1-img {
    width: 15%;
    height: 50%;
    margin-bottom: 10px;
}

.box1-title {
    color: rgb(19, 19, 24);

    font-size: 1.7rem;
    font-weight: 800;

}

.box1 {
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 40px;
}

.box2 {
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding: 40px;
}

.box3 {
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding: 40px;

    margin-bottom: 100px;

}

.center {
    position: relative;
    left: 450px;

}

/* newsletter styles */
.newsletter {
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 20px;
}

.news-title {
    color: rgb(19, 19, 24);
    font-size: 1.3rem;
    font-weight: 800;

}

.newsletter hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
}

.news-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-input-field {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.newsletter .btn-primary {
    width: 40%;
}

.newsletter-container {

    display: flex;
    gap: 20px;
    margin-bottom: 100px;

}

.travel {
    border-radius: 16px;
    background: rgb(255, 84, 0);
    width: 18%;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 300px;
    left: 1360px;
    transform: rotate(-19.63deg);
}

.travel2 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

}

.travel1 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}



/* 
responsive */

@media screen and (max-width:576px) {


    /* banner */
    .banner-input {
        flex-direction: column;
        width: 70%;

        margin-top: 10px;


    }

    .banner-container {
        width: 90%;
        border-radius: 8px;
        margin: 0 auto;

    }

    .banner-title {
        /* margin-top: 10px; */
        /* margin-bottom: 0; */
        font-size: 1.5rem;
        padding: 50px;
        padding-bottom: 0;
    }

    .banner-description {

        padding-top: 0;
        padding: 15px;
        font-size: .8rem;
    }

    div>input,
    select,
    button {
        padding: 10px;

    }

    /* popular tours */

    .popular {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;

    }

    .popular-content {
        width: 90%;
        padding: 10px;
        justify-content: center;



    }

    .popular-title {
        font-size: 1.2rem;
    }

    .popular-img img {
        width: 100%;
    }

    .popular-img {
        width: 100%;


    }

    .text-style {
        font-size: .80rem;
    }

    /* destination */

    .image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-image1,
    .destination-image2,
    .destination-image3 {
        grid-template-columns: none;
    }

    #kashmir {
        position: relative;
        bottom: 40px;
        height: 50%;
    }


    #bd {
        position: relative;
        bottom: 200px;
    }

    #bandarban {
        position: relative;
        bottom: 200px;
        height: 100%;
    }

    /* .l1,.l2,.l3,.l4,.l5,.l6,.l7{
        display: none;
    } */
    .destination-title,
    .footer-title {
        font-size: 1.5rem;
    }

    .destination-description {
        padding: 5px;
    }

    /* footer */
    footer {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 89%;


    }

    /* why choose us */
    .choose-container {
        width: 93%;
        padding: 0;
    }

    .choose-content {
        width: 100%;
    }

    .choose-title,
    .choose-description {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .choose-box-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;

    }

    .center {
        position: static;

    }

    .box1-img {
        width: 15%;
        height: 15%;
    }

    .box1-title,
    .choose-title,
    .news-title {
        font-size: 1.1rem;

    }

    .box1,
    .box2,
    .box3 {
        padding: 5px;
    }

    /* newsletter */
    .newsletter-container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .newsletter-container img {
        width: 90%;
    }

    .newsletter {
        width: 90%;
        padding: 5px;
    }

    .news-input-field {
        padding: 0;
        width: 70%;
        font-size: .9rem;
        padding: 2px;
        margin-top: 5px;
    }

    .newsletter .btn-primary {
        width: 50%;
        font-size: .8rem;
        padding: 3px;
        margin-bottom: 10px;
    }
    .travel{
        left: 260px;
        width: 20%;
        bottom: 220px;

    }
    .travel1,.travel2{
        font-size: .8rem;
    }

}