/* shared styles  */


body {
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
    }

    .merriweather-regular {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
    }

    .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
    }

    .merriweather-black {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal;
    }

    .merriweather-light-italic {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: italic;
    }

    .merriweather-regular-italic {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: italic;
    }

    .merriweather-bold-italic {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: italic;
    }

    .merriweather-black-italic {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: italic;
    }

}

main,
header {
    max-width: 1700px;
    margin-top: 50px;
    margin: 0 auto;

}



/* shared style */

/* header styles */

.banner-container {
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    height: 550px;
    margin-top: 50px;


}

.banner-title {

    padding-top: 150px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;


}

.banner-description {
    padding-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

}

.banner-input {


    display: flex;
    /* justify-content: center; */
    gap: 10px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 38%;
    padding: 10px 10px;



}

div>input,
select,
button {


    padding: 15px;

    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 0;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(255, 84, 0);
}

/* 
main styles */
/* popular tours styles */

.popular {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex: 1;

}

.popular-content {
    width: 67%;
    /* border: 1px solid tan; */
    padding: 10px;
}

.popular-title {
    color: rgb(19, 19, 24);

    font-size: 2.5rem;
    font-weight: 800;

}

.text-style {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1.2rem;
    font-weight: 400;

}

.popular-img {
    width: 33%;
    /* border: 1px solid tomato; */
}

/* destination styles */
.destination-image1 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

}

.destination-image2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1.5fr .75fr;

    gap: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.destination-image3 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1.4fr;

    gap: 30px;
}

.destination-image1 img {
    width: 100%;
    gap: 20px;
}

.destination-image2 img {
    width: 100%;
    gap: 20px;
}

.destination-image3 img {
    width: 100%;
    gap: 20px;
}

.l3 {
    position: relative;
    bottom: 800px;
    left: 200px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}
.l4 {
    position: relative;
    bottom: 850px;
    left: 800px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}
.l5 {
    position: relative;
    bottom: 900px;
    left: 1450px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}
.l7{
    position: relative;
    bottom: 600px;
    left: 1150px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}
.l6{
    position: relative;
    bottom: 550px;
    left: 300px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}
.l1 {
    position: relative;
    bottom: 1200px;
    left: 300px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}
.l2 {
    position: relative;
    bottom: 1250px;
    left: 1200px;
    color: rgb(255, 255, 255);

    font-size: 1.8rem;
    font-weight: 800;

}

/* 
responsive */

@media screen and (max-width:576px) {


    /* banner */
    .banner-input {
        flex-direction: column;
        width: 70%;

        margin-top: 10px;


    }

    .banner-container {
        width: 90%;
        border-radius: 8px;
        margin: 0 auto;

    }

    .banner-title {
        /* margin-top: 10px; */
        /* margin-bottom: 0; */
        font-size: 1.5rem;
        padding: 50px;
        padding-bottom: 0;
    }

    .banner-description {

        padding-top: 0;
        padding: 15px;
        font-size: .8rem;
    }

    div>input,
    select,
    button {
        padding: 10px;

    }

    /* popular tours */

    .popular {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;

    }

    .popular-content {
        width: 90%;
        padding: 10px;
        justify-content: center;



    }

    .popular-title {
        font-size: 1.2rem;
    }

    .popular-img img {
        width: 100%;
    }

    .popular-img {
        width: 100%;


    }

    .text-style {
        font-size: .80rem;
    }

    /* destination */
    /* .destination-image1,
    .destination-image2,
    .destination-image3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 0;
        padding: 0;
        width: 100%;
        
    }
    .destination-image1 img{
        width: 100%;
        
    }
    .destination-image2 img{
        width: 100%;
        
       
    }
    .destination-image2{
        height: 20%;
        gap: 0;
    }
    .destination-image3{
        height: 20%;
        gap: 0;
    }
    #lanka,#bd{
        height: 70%;
        
    }
    #kashmir{
        height: 50%;
    } */
    .image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-image1,
    .destination-image2,
    .destination-image3 {
        grid-template-columns: none;
    }

    #kashmir {
        position: relative;
        bottom: 40px;
        height: 50%;
    }

    /* #lanka,#bd{
        height: 70%;
        
    } */
    #bd {
        position: relative;
        bottom: 200px;
    }

    #bandarban {
        position: relative;
        bottom: 200px;
        height: 100%;
    }
}